# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/vendor/
/composer.lock
/vendor/guzzlehttp/
/vendor/composer/
/vendor/autoload.php
/vendor/symfony/
/vendor/ralouphie/
/vendor/psr/
data/.Rhistory
/.env
/tests/_reports/
